.env
.ipynb_checkpoints
.idea
"Modellemeye Giriş/.ipynb_checkpoints"
"Modellemeye Giriş/Modellemeye Giriş.ipynb"
"Temel Lineer Cebir/.ipynb_checkpoints"
"Temel Lineer Cebir/Temel Lineer Cebir.ipynb"


